@import "../mixins";
@import "../keyframes";

.body {
  @include BaseCardMixin;

  &__button {
    width: 100%;
    background: #FFFFFF;
    color: #151515;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    outline: 0;
    padding: 0.75rem;
    cursor: pointer;
    transition: all ease 200ms;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &:active:focus {
      animation: AnimateButtonClick 100ms;
    }
  }
}

.list {
  &__container {
    height: 400px;
    overflow-y: auto;
    margin: 0 0 1rem;
  }

  &__empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &_text {
      font-size: 0.75rem;
      color: #AAA;
    }
  }

  &__item {
    width: 100%;
    padding: 1.25rem 0;
    box-sizing: border-box;

    &:not(:last-of-type) {
      border-bottom: 1px solid #EEEEEE;
    }

    &_completed {
      opacity: 0.4;
      text-decoration: line-through;
    }

    &_content {
      font-size: 1rem;
    }
  }
}